[submodule "eParser"]
	path = eParser
	url = https://github.com/bornkesselpascal/eParser
[submodule "results/reliability"]
	path = results/reliability
	url = https://github.com/bornkesselpascal/testresults_reliability.git
[submodule "results/performance"]
	path = results/performance
	url = https://github.com/bornkesselpascal/testresults_performance.git
